include ../partials/header.pug
section.content
    h2= party.name
    h3 Créé par #{party.author} pour le #{party.date}
    label(for="url") Partagez l'événement
    input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}`)
    section.content__Item.first
      form(method="post" action=`${process.env.FRONT_URL}:${process.env.PORT}/party/${id}/items`).newElement       
          div.newElement__fields
            label(for="name1") Ajouter un élèment 
            input(id="name1" name="name" required)
            label(for="user1") Utilisateur 
            input(id="user1" name="user" required)
          button(type="submit") Créer
      div
        h4 La liste des items: 
        ul
          each val in party.items
            li #{val.name} par #{val.user} 
    section.content__Item
      h4 Vous pouvez modifier l'évènement ici : 
      form(method="post" action=`${process.env.FRONT_URL}:${process.env.PORT}/party/${id}`).modifParty
        div.modifParty__fields
          label(for="name2") Nom de l'événement
          input(name="name" id="name2" required minlength="3" placeholder="Nouvel an")
          label(for="author") Nom de l'Auteur
          input(name="author" id="author" required placeholder="Auteur")
          label(for='date')  Date de l'évènement
          input(name="date" id="date" type="date")
        button(type="submit") Modifier l'évènement
    script.
      party = !{JSON.stringify(party)} 
